{
    "boot":{
        "db_enc": false,
        "admin_acc": true,
        "admin_pas": "Admin1234",
        "admin_eml": "Admin@admin.ad"
    },
    "basic":{
        "user_lvl": "Standard",
        "elev_pge": true,
        "dsp_pnt_conn": true
    },
    "API":{
        "key_time": 7,
        "max_key": false
    }
}